.css-tdxonj-MuiTableHead-root{
    display: revert !important;
}

.css-1b4ewkk-MuiTableCell-root{
    font-size: 14px !important;

}


.css-15m7mkq{
    background: linear-gradient(195deg, #49f181, #177301) !important;
}
.css-13tavyo-MuiButtonBase-root-MuiButton-root{
    background: linear-gradient(195deg, #49f181, #177301) !important;
}